.rbc-day-bg {
  border: 1px solid white !important;
  border-radius: 5px !important;
  background-color: #004964 !important;
  opacity: 0.1;
}

.rbc-today-selected {
  opacity: 1 !important;
}

.rbc-day-bg-selected {
  flex: 1 0 0% !important;
  border: 1px solid white !important;
  border-radius: 5px !important;
  background-color: #004964 !important;
  color: white !important;
}

.rbc-day-bg-deadline {
  flex: 1 0 0% !important;
  border: 1px solid white !important;
  border-radius: 5px !important;
  background-color: rgba(0, 0, 0, 0.2) !important;
  color: white !important;
}

.rbc-off-range-bg {
  background-color: #e6e6e6 !important;
  border-radius: 5px !important;
}

.rbc-date-cell {
  text-align: left !important;
  padding-left: 5px !important;
}

.rbc-month-row + .rbc-month-row {
  border: none !important;
}

.rbc-month-view {
  border: none !important;
}

.rbc-header {
  border-bottom: 1px solid white !important;
  font-size: 12px !important;
  font-weight: 400 !important;
}

.rbc-header + .rbc-header {
  border-left: 1px solid white !important;
}

.rbc-day-bg rbc-off-range-bg {
  background-color: #e6e6e6 !important;
}

/* .rbc-current {
  background-color: #004964 !important;
} */

/* .rbc-today {
  background-color: #004964 !important;
} */

/* .rbc-row-bg {
  background-color: #004964 !important;
  opacity: 0.1;
}

.rbc-day-bg {
  cursor: pointer;
}

.rbc-day-bg:active {
  background-color: #004964 !important;
  color: white !important;
}
.rbc-date-cell rbc-current {
  background-color: #004964 !important;
}

.rbc-header {
  border-bottom: 1px solid white !important;
}

.rbc-header + .rbc-header {
  border-left: 1px solid white !important;
}

.rbc-month-view {
  border: 1px solid white !important;
}

.rbc-day-bg.rbc-today {
  background-color: #004964 !important;
  opacity: 0.1;
}

.rbc-toolbar {
  display: flex !important;
}

.rbc-event-content {
  text-align: end !important;
  font-size: 12px !important;
} */
