@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  font: inherit;
  color: inherit;
}

*,
:after,
:before {
  box-sizing: border-box;
}

:root {
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  cursor: default;
  line-height: 1.5;
  overflow-wrap: break-word;
  -moz-tab-size: 4;
  tab-size: 4;
}

html,
body {
  height: 100%;
}

body {
  font-family: "Noto Sans";
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input {
  border: none;
  /* iOS 에서 16px 이하의 input 에서 자동 zoom 되는 문제가 있어서 조치하였음. */
  font-size: 16px;
}
input:focus {
  outline: none;
  font-size: 16px;
}
textarea {
  border: none;
  font-size: 16px;
}

textarea:focus {
  outline: none;
  font-size: 16px;
}
a {
  text-decoration: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
